{% extends 'base.html' %}

{% block content %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>Untitled</title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center" style="height: 70px;">{{ my_book }}</h1>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6"><img src="{{ my_book.cover }}" style="width: 300px" />
                </div>
                <div class="col-md-5" style="height: 462px;padding: 15px;">
                    <div class="form-group"><label style="font-weight: bold;">Издательство: </label><label>{{ my_book.my_publishing }}</label></div>
                    {% for author in my_book.author_id%}
                        <div class="form-group"><label style="font-weight: bold;">Автор: </label><a href = 'http://author/{{ author.id }}'><label>{{ author }}</label></div></a>
                    {% endfor %}
                    <div class="form-group"><label style="font-weight: bold;">Год издания: </label><label> {{ my_book.year_of_edition }}</label></div>
                    <div class="form-group"><label style="font-weight: bold;">ISBN: </label><label> {{ my_book.ISBN }}</label></div>
                    {% for cat in my_catalog %}
                        <div class="form-group text-center"><a href={{ cat.url }}><img src="{{ cat.my_shop.logo }}" style="width: 100px" /></a></div>
                        <div class="form-group text-center"> <div class="form-group"><label style="font-weight: bold;">{{ cat.price }}</label></div>
                        <button class="btn btn-link center-block" type="button"><a href={{ cat.url }} style="background-color: #FFFF00; height: 100px; color: #000000">Купить</a></button></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    <div class="form-group"><label style="font-weight: bold;">Анотация: </label><label>{{ my_book.annotation }}</label></div>
    </body>
{% endblock %}
