{% extends 'base.html' %}

{% block content %}
    <div class="card-columns">
          {% for edition in books_list %}
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <a href='/book/{{ edition.id }}'><img src="{{ edition.cover }}" class="card-img"></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5><a href='/book/{{ edition.id }}' style="color:#000000; font-size:14pt">{{ edition }}</a></h5>
                  {% for author in edition.my_authors %}
                    <h5 class="card-title"><a href='author/{{ author.id}}' style="color:#000000; font-size:12pt">{{ author }}</a></p></h5>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div> 
    </div>
{% endblock %}